* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {

    font-family: "poppins", sans-serif;
}

.bg {
    background-image: url("backgroundv1.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* NavBar*/

.link {
    position: absolute;
    display: flex;
    list-style-type: none;
    width: 55%;
    justify-content: space-around;
    right: 2%;
    top: 2%;
    height: 10vh;
    align-items: center;
}

.btn {
    background-color: #203647;
    padding: 10px;
    border-radius: 40px;
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-weight: 200;
}

.link li a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    transition: all ease-in-out .2s;
}

.link li a:hover {
    color: #12232E;
    border-bottom: 2px solid #12232E;
}

.link li a button {
    cursor: pointer;
    font-size: 23px;
    padding: 15px;
    color: white;
    background-color: #12232E;
    border: none;
    border-radius: 230px;
}


/* Header */


.header {
    position: absolute;
    top: 30%;
    left: 9%;
}

.header h1 {
    font-weight: 500;
    color: white;
    font-size: 43px;
}

.header p {
    font-size: 20px;
    font-weight: 200;
    color: white;
}






/* Profile */



.profile {
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profile h1 {
    padding-top: 200px;
    font-size: 50px;
    font-weight: 400;
}


.profile p {
    font-size: 24px;
    font-weight: 300;
}

/* Content1 */

.mygaming {
    width: 100%;
    height: 100vh;
    padding: 15px;
    margin-top: -100px;
    background-color: #203647;
    color: white;
}

.mygaming h1 {
    text-align: center;
    font-weight: 400;
    margin-top: 50px;
}

.mygaming img {
    pointer-events: none;
}

.mygaming .img1 {
    position: absolute;
    width: 20%;
    left: 10%;
    top: 250%;
    z-index: 1;
    box-shadow: 1px 1px 15px 1px black;
}

.img2 {
    position: absolute;
    width: 20%;
    left: 15%;
    top: 280%;
    box-shadow: 1px 1px 15px 1px black;
}

.mygaming .mlbb {
    width: 90%;
    margin-top: 90px;
}

.mygaming .coc {
    width: 90%;
    margin-top: 70px;
}

.mygaming {
    font-weight: 300;
}

.mygaming h3 {
    font-weight: 400;
}

.game {
    margin-left: 550px;
    font-size: 20px;
}



/* Content2 */



.work {
    height: 100vh;

}

.work h2 {
    padding-top: 70px;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}

.work h1 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding-top: 200px;
}



/* footer */



footer {
    height: 65vh;
    background-size: cover;
    background-image: url("./img/footer.png");
}

footer .text {
    text-align: center;
    color: white;
    padding-top: 100px;
}

footer .text h1 {
    font-weight: 500;
}

footer .text2 p {
    padding-top: 50px;
    color: white;
    text-align: center;
    font-size: 19px;
}

footer .social {
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

footer .social p {
    color: white;
    display: inline;
    font-size: 25px;
    font-weight: 200;
    cursor: default;
    margin-left: 5px;
    margin-right: 5px;
}